<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
List of pharmacies
<table>
    <tr >
        <td>Name</td>
        <td>Direction</td>
        <td>Opening Hours (Original)</td>
        <td>Opening Hours (English)</td>
    </tr >

    {% for item in items %}

    <tr >
        <td>{{ item["title"] }}</td>
        <td>{{ item["calle"] }}</td>
        <td>{{ item["horario"] }}</td>
        <td>{{ item["opening_hours"] }}</td>


    </tr>
    {% endfor %}

</table>


</body>
</html>