<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://analytics.scc-mobileage.lancs.ac.uk;">-->


		  <link rel="stylesheet" href="http://mobileage.ftb-esv.de/frontend/assets/css/mobileage.min.css">
		  <script src="http://mobileage.ftb-esv.de/frontend/assets/js/mobileage.min.js"></script>
		  <style>
		  td, th {	padding:1em; border: 1px solid black; }
		  </style>


    <title>Pharmacies in Zaragoza</title>

         <script type="text/javascript" src="js/maanalytics.js"></script>
     <!-- Developer's custom code -->
     <script >
          // Initialise the MaAnalytics library
          var maa = new MaAnalytics({
              tid: "8289ee6e-67d1-4c84-b3ed-7a352f1de4a4"
          });


          function maTrack(){
              //alert("you are being tracked");
              var CATEGORY = "routing to location";
              var ACTION = "click";
              var VALUE = 0;
              var LABEL = "This can be used for supplemental information";
              // Log an event to the MaAnalytics service
              maa.trackEvent(CATEGORY, ACTION, VALUE, LABEL);
          }
     </script>

</head>
<body onload="maTrack()">

List of pharmacies


        <div id="uniqueid"> ... some html used if JS doesn't work ... </div>

		<script>
			var options = {
				 xhrMethod: 'GET',
				 //xhrSource: 'http://83.212.100.226/ogd/datasets/data/venues/?format=json&page_size=15&dataset_id=27',
				 //xhrSource: 'http://127.0.0.1:5000/data/740data.json',
				 xhrSource: 'http://127.0.0.1:6025/data/740modified.json',
				 //dataPath: 'results',
				 dataPath: 'equipamiento',
				templateListWrapper:
				    '<table><thead>' +
				    '<tr>' +

				    '<th>Id</th>' +
				    '<th>Name</th>' +
				    '<th>Opening Hours (Spanish)</th>' +
				    '<th>Opening Hours (English)</th>' +

				    '</tr></thead>' +
				    '<tbody><%%></tbody>' +
				    '</table>',
				templateListItemWrapper:
				    '<tr><%%></tr>',
				templateListItem:
					'<td><%id%></td>' +
				    '<td><%title%></td>' +
				    '<td><%horario%></td>' +
				    '<td><%opening_hours%></td>' ,
				 debug: 'true'
			 };
			 new MobileAge.Component.List('uniqueid', options);
	 </script>




</body>
</html>